<!--
-->
<!--@subject {{trans "Quote Expired"}} @-->
<!--@vars {
"var receiver.name":"Receiver Name",
"var quote.id":"Quote Number",
"var quote.expired_at":"Quote Expiration Date",
"var store.name":"Store Name",
} @-->

{{template config_path="design/email/header_template"}}
<p class="greeting">{{trans "Hello"}} {{var receiver.name}},</p>
<br/>
<p>
    {{trans "Your outstanding quote"}}
    (<a style="color:#006BB4"
        href="{{var this.getUrl($store,'iwdc2q/customer/quotes/')}}"
        target="_blank">{{var quote.id}}</a>)
    {{if quote.expired_at}}{{trans "with our store has expired as of"}} {{var quote.expired_at}}{{/if}}.
    {{trans "We’ve closed this quote and can no longer act on it or fulfill any estimates that may have been delivered to you."}}
    {{trans "If you would still like to move forward with this quote,"}}
    {{trans "you can contact store management or submit a new quote request for our team to review."}}
</p>
<br/>
<p>
    <a href="{{var this.getUrl($store,'customer/account/login/')}}"
       target="_blank"
       style="height: 36px;
        width: 201px;
        border: 1px solid #006BB4;
        background-color: #006BB4;
        text-align: center;
        display: block;
        border-radius: 1px;
        padding-top: 17px;
        ">
        <span style="color: #ffffff !important; margin-top: -50%">{{trans "Sign In Manage Quotes"}}</span>
    </a>
</p>
<br/>
<p>
    {{trans "Thanks"}},
    <br/>
    {{var store.name}}
</p>
{{template config_path="design/email/footer_template"}}