<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CheckoutAgreements\Model\Agreement">
        <plugin name="iwd_c2q_agreement_save" type="IWD\CartToQuote\Plugin\Model\Agreement" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Helper\Data">
        <plugin name="iwd_c2q_can_checkout_plugin" type="IWD\CartToQuote\Plugin\Checkout\Helper\Data" sortOrder="1"/>
    </type>
    <type name="IWD\CartToQuote\Controller\Customer\Quotes">
        <plugin name="iwd_c2q_authentication" type="\Magento\Sales\Controller\Order\Plugin\Authentication"
                sortOrder="1"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="iwd_c2q_admin_system_config_save_plugin" type="IWD\CartToQuote\Plugin\Config\Save" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="iwd_c2q_order_can_reorder_ignore_salable" type="IWD\CartToQuote\Plugin\Sales\Model\Order"
                sortOrder="1"/>
    </type>
    <type name="IWD\CartToQuote\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="IWD\CartToQuote\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">c2qLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">IWD\CartToQuote\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>